/extensions/*
!/extensions/sitepackage
!/extensions/record_test

/php7/v10/*
!/php7/v10/config
!/php7/v10/composer.json

/php7/v11/*
!/php7/v11/config
!/php7/v11/composer.json

/php8/v11/*
!/php8/v11/config
!/php8/v11/composer.json

/php8/v12/*
!/php8/v12/config
!/php8/v12/composer.json
